<% include head %>
  <% if(error){ %>
    <p>出错了： <%= error %></p>
  <% }else{ %>
    <table class="table">
      <thead>
        <tr>
          <th>标题</th>
          <th>时间</th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach(function(item){%>
        <tr>
          <td>
            <div>
              <%=item.title %>
            </div>
            <div>
              <%=item.url %>
            </div>
          </td>
          <td><%=item.created_at_for("yyyy-mm-dd h:MM:ss") %></td>
        </tr>
        <% })  %>
      </tbody>
    </table>
  <% } %> 
<% include foot %>   
<script type="text/javascript">
  $(function(){
    NavBarView.active("home")
  })
</script>