.notice{
  display: none;
}

.create_auth{
  width: 403px;
  display: none;
  padding-bottom: 5px;
}

.create_auth .provider_name{
  width: 300px;
}

.create_auth .describe{
  resize: vertical;
  height: 132px;
}

.authentication_wrap .topbar{
  margin-bottom: 5px;
}

.authentication_wrap .btn-cancel{
  margin-left: 10px;
}

