<% include ../head %>
  <div class='authentication_wrap'>
    <form class="form" action="/authentications/create">
      <div class="form-group">
        <label>项目名称</label>
        <input type="text" class="form-control" name='auth[provider_name]' placeholder="项目名称" />
      </div>
      <div class="form-group">
        <label>描述</label>
        <textarea class="form-control" name='auth[describe]' ></textarea>
      </div>
      <button type="submit" class="btn btn-default">确认</button>
    </form>
  </div>
<% include ../foot %>
<script type='text/javascript'>
  $(function(){
    NavBarView.active("authentication")
  })
</script>